@charset "UTF-8";

body,
.pagedisplay[disabled="disabled"],
.ui-widget-content,
.ui-tabs .ui-tabs-panel,
#breadcrumb div a:hover,
table.data td.label,
th a,
table.tablesorter tbody td,
div.tabsContainer .ui-state-active a,
select.error,
.leaflet-top.leaflet-left a
{
    color: #000000;
}

#adminUser, #adminUser a {
    color: #adadad;
}

#adminMenu div a,
#breadcrumb div a,
.submit,
button,
a.button,
#buttonBar a,
.buttonBar a,
span.button,
div.separator,
.dateSwitch,
.placeSwitch,
#languageMenu a,
#languageMenu span,
div.tabsContainer li a,
div.tabsContainer .ui-widget-content a.button,
div.tabsContainer .ui-widget-content .buttonBar a,
.ui-widget-header,
.tableSelect.error,
table.tablesorter thead tr th,
table.tablesorter tfoot tr th,
.ui-dialog .ui-dialog-titlebar-close,
.dateSwitch label.error,
.placeSwitch label.error,
table.tablesorter a.button:hover,
.changelogVersion,
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited
{
    color: #ffffff;
}


p.hint,
div.tabsContainer a.add
{
    color: #efefef;
}


a,
.info,
table a,
span.active,
.ui-widget-content a,
div.tabsContainer table a,
#adminMenu div a:hover,
#adminMenu div.selected a,
#adminMenu div.selected a:hover,
.jstree-default .jstree-search,
span.tooltip
{
    color: #4088c3;
}

div.tabsContainer table a:hover,
table a:hover
{
    color: #46779f;
}

.inactive,
.inactive a
{
    color: #666666;
}

.error,
label.invalid
{
    color: #e60005;
}

button,
.submit,
a.button,
span.button,
#buttonBar a,
.buttonBar a,
#breadcrumb,
.dateSwitch,
.placeSwitch,
div.tabsContainer a.add,
.ui-state-default,
.ui-widget-content .ui-state-default,
.changelogVersion
{
    background-color: #4088c3;
}

#adminHead,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.tabsContainer .ui-widget-content,
div.tabsContainer .ui-state-active.ui-state-hover,
div.tabsContainer .ui-state-active,
table.tablesorter tbody td,
select,
span.tooltip
{
    background-color: #ffffff;
}

body,
.ui-widget-content
{
    background-color: #efefef;
}

div.tabsContainer .ui-state-hover,
a.button:hover,
#buttonBar a:hover,
button:hover,
.buttonBar a:hover,
span.button:hover {
    background-color: #46779f;
}

#adminMenu,
p.hint,
#languageMenu span,
.overlay,
.ui-widget-header,
.pagedisplay[disabled="disabled"],
table.tablesorter thead tr th,
table.tablesorter tfoot tr th,
.ui-widget-header .ui-state-default
{
    background-color: #000000;
}

#languageMenu a,
table.tablesorter tbody tr.odd td
{
    background-color: #adadad;
}

#adminMenu > div.selected
{
    border-color: #4088c3;
}

div.textPreview
{
    border-color: #000000;
}

textarea,
input[type=text],
input[type=password],
select
{
    border-color: #adadad;
}

div.pagedisplay {
    border-top-color: #969392;
    border-left-color: #969392;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
}
